@import '../../../../style/main.scss';

.courses-container {
	@include part-Container;
	flex-direction: column;
	margin-bottom: 2rem;
}

.courses-h {
	@include section-Subheader;
}

.courses-h2 {
	font-size: 1.5rem;
	text-align: end;
	border: 1px solid $color-second-acc;
	border-radius: 10px;
	padding: 0.75rem;
	color: $color-first-acc;
}

.major-courses_box {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 1rem;
	transition: border 0.3s ease-in-out;

	&:hover {
		border: 2px solid $color-third-acc;
		background-color: $color-main;
	}
}

.course-data_box {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 3rem;

	.data-box_top {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@include md {
			flex-wrap: nowrap;
		}
		.course-h {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			font-size: 1.5rem;
			font-weight: 600;
			color: $color-third-acc;
			width: 100%;
			@include md {
				width: auto;
			}
		}

		.course-logo {
			color: $color-fourth-acc;
		}

		.course-details {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 1rem;
			@include md {
				width: auto;
				justify-content: flex-end;
				gap: 2rem;
			}
			.course-date {
				font-size: 1rem;
			}

			.course-link {
				width: 5rem;
				text-align: end;
				text-decoration: none;
				border-bottom: 1px solid $color-first-acc;
				padding-bottom: 0.25rem;
				color: $color-first-acc;
				opacity: 0.75;
			}
		}
	}

	.course-description {
		width: 100%;
		text-align: center;
		@include md {
			text-align: start;
		}
	}

	.course-skills {
		display: flex;
		justify-content: space-around;
		color: $color-fourth-acc;
		opacity: 0.4;

		.course-skill {
			display: block;
		}
	}
}

.minor-courses_box {
	.course-h2 {
		width: 100%;
		font-size: 1.5rem;
		font-weight: 400;
		color: $color-third-acc;
		text-align: center;
		@include md {
			width: 90%;
			text-align: start;
		}
	}
	.course-details {
		width: 100%;
		text-align: justify;
		@include md {
			width: auto;
			text-align: start;
		}
	}
}

.course-description {
	width: 75%;
	text-align: center;
	text-decoration: double;
	font-size: 1.2rem;
	line-height: 2rem;
}

.course-quote_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $font-base;
	text-transform: unset;

	.course-quote {
		width: 100%;
		font-size: 1.5rem;
		display: block;
		text-align: center;
		line-height: 2rem;
		font-family: cursive;
		color: #ffc0d7;
		@include md {
			width: 75%;
		}
	}

	.course-quote_author {
		margin-top: 1rem;
		font-size: 1rem;
		border-top: 1px solid white;
		padding-top: 0.5rem;
	}
}
