@import '../../../../style/main.scss';

//Degrees
.degrees-container,
.certifications-container,
.courses-container,
.challenges-container {
	@include part-Container;
	flex-direction: column;
}
.degrees-h,
.certifications-h,
.courses-h,
.courses-h2,
.challenges-h {
	@include section-Subheader;
}
.degree-box {
	.degree-title {
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 1.5rem;
		color: $color-third-acc;
		// border-bottom: 1px solid $color-fourth-acc;
		border-left: 1px solid $color-fourth-acc;
		padding-left: 1rem;
	}
	.whereWhen-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid $color-fourth-acc;
		padding: 0.5rem 0;
	}
	.degree-description {
		line-height: 2rem;
		margin-bottom: 1.5rem;
		border-left: 1px solid $color-fourth-acc;
		padding: 1rem;
	}
	.degree-skills {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		opacity: 0.5;
	}
}

//Certifications

.certification-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 1rem;
}

.certification-data_box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border: 1px solid transparent;
	border-radius: 10px solid transparent;
	transition: border 0.3s ease-in-out;

	&:hover {
		border: 1px solid $color-fourth-acc;
		border-radius: 10px;
		padding: 1rem;
	}

	.certification-h {
		display: flex;
		font-size: 1.2rem;
		font-weight: 600;
	}
	.certification-icon {
		height: auto;
		width: 5rem;
		margin-right: 0.5rem;
	}
	.certification-link {
		font-size: 1rem;
		text-decoration: none;
		border-bottom: 1px solid $color-fourth-acc;
		color: $color-fourth-acc;
		padding-bottom: 0.2rem;
		opacity: 0.75;
	}
}

//Courses
.courses-container {
	margin-bottom: 2rem;
}
.courses-h {
	text-align: end;
}
.courses-h2 {
	font-size: 1.5rem;
	text-align: end;
	border: 1px solid $color-second-acc;
	border-radius: 10px;
	padding: 0.75rem;
	color: $color-first-acc;
}

.major-courses_box {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	border: 3px solid transparent;
	border-radius: 10px;
	padding: 1rem;
	transition: border 0.3s ease-in-out;
	&:hover {
		border: 3px solid $color-third-acc;
	}
}
.course-data_box {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 3rem;
	.data-box_top {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.course-h {
			font-size: 1.5rem;
			font-weight: 600;
		}
		.course-date {
			font-size: 1rem;
		}
		.course-link {
			text-decoration: none;
			border-bottom: 1px solid $color-first-acc;
			padding-bottom: 0.25rem;
			color: $color-first-acc;
			opacity: 0.75;
		}
	}
	.course-description {
		width: 100%;
	}
	.course-skills {
		display: flex;
		justify-content: space-around;
		color: $color-fourth-acc;
		opacity: 0.4;
		.course-skill {
			display: block;
		}
	}
}

.minor-courses_box {
	.course-h2 {
		width: 90%;
		font-size: 1.2rem;
		font-weight: 600;
		// padding-bottom: 0.25rem;
		// border-bottom: 1px solid $color-fourth-acc;
	}
}

.course-description {
	width: 75%;
	text-align: center;
	text-decoration: double;
	line-height: 2rem;
}

//Challenges
.challenges-container {
	margin-bottom: 1rem;
}
.challenges-h2,
.challenges-h3 {
	width: 100%;
	font-size: 1.5rem;
	text-align: center;
}
.challenges-h2 {
	color: $color-third-acc;
	font-weight: 600;
	font-size: 1.5rem;
}

.challenges-mentor {
	width: 100%;
	height: 7rem;
	.mentor-box {
		margin-bottom: 1rem;
		.mentor-link {
			font-size: 1.2rem;
			text-decoration: none;
			color: $color-third-acc;
			margin: 1rem;
		}
	}
	.mentor-description {
		line-height: 1.5rem;
	}
}

.challenges-columns {
	width: 100%;
	height: 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.column-a,
.column-b,
.column-c {
	height: 10rem;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	border-right: 1px solid;

	.course-link {
		font-family: 1.2rem;
		text-decoration: none;
		color: $color-first-acc;
		border-bottom: 0.5px solid transparent;
		&:hover {
			color: $color-fourth-acc;
			font-weight: 600;
			border-bottom: 0.5px solid $color-fourth-acc;
		}
	}
}
.column-c {
	border-right: 1px solid transparent;
}
