@import '../../style/main.scss';

//What
.what-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.what-container_first {
	width: 50%;
	.what-image_temporary {
		width: 100%;
		height: 100%;
	}
}

.what-container_second {
	width: 50%;
	.second-header {
		@include section-Subheader;
		font-size: 4rem;
	}
	.second-summary {
		font-size: 1.2rem;
		margin-bottom: 2rem;
		line-height: 1.5;
	}
	.second-note {
		text-decoration: underline;
		line-height: 1.2;
		color: rgb(115, 115, 115);
	}

	.second-link {
		width: 15rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		color: $color-second-acc;
		font-weight: 300;
		&:hover {
			font-weight: 600;
			box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
			border-radius: 15px;
		}
	}
	.link-icon {
		font-size: 2rem;
		margin: 1rem;
		color: $color-second-acc;
	}
}
.second-techstack_box {
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 1rem 0rem 1rem 1rem;
	.techstack-box_skill {
	}
}

//Slider
[class^='number-slide'],
[class*=' number-slide'] {
	background: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	color: #fff;
	font-weight: 500;
	height: 300px;
	max-height: 100vh;
}

.thumbnail .keen-slider__slide {
	font-size: 30px;
	margin-top: 10px;
	height: 100px;
}

.thumbnail .keen-slider__slide {
	cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
	border: 2px dashed black;
}

//Idea
.idea-wrapper {
	position: relative;
	margin-top: 4rem;
	height: auto;
}
.idea-text_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.idea-header {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	.idea-p {
		width: 85%;
		font-size: 1rem;
		margin-bottom: 1rem;
		line-height: 1.5;
		z-index: 15;
	}
}
.idea-background {
	position: absolute;
	width: 40rem;
	height: 20rem;
}
.first,
.first-give,
.first-crm {
	border-radius: 15px 0 0 0;
	top: -5%;
	right: 40%;
	background-color: #fff;
	opacity: 0.1;
	z-index: -10;
}
.second,
.second-give,
.second-crm {
	border-radius: 0 0 15px 0;
	top: 10%;
	right: 5%;
	z-index: -5;
	background-color: #fff;
	opacity: 0.1;
}
.first-give,
.second-give {
	background: #fad648;
}

.first-crm {
	border-top: 2px solid rgb(0, 39, 107);
	border-left: 2px solid rgb(0, 39, 107);
	opacity: 1;
}
.second-crm {
	border-right: 2px solid rgb(0, 39, 107);
	border-bottom: 2px solid rgb(0, 39, 107);
	opacity: 1;
}

//Solution
.solution-wrapper {
	background-color: $color-second-acc;
	border-radius: 15px;
	margin-top: 6rem;
	padding: 1rem;
}

.solution-wrapper_crm {
	border: 2px solid $color-second-acc;
	background-color: $color-fourth-acc;

	border-radius: 15px;
	margin-top: 6rem;
	padding: 1rem;
}

.solution-header {
	font-size: 2rem;
	margin-bottom: 2rem;
	color: #fad648;
}

.crm-header {
	color: $color-second-acc;
}

.solution-note {
	margin: 2rem;
	font-size: 1rem;
	color: hsl(0, 0%, 50%);
}
.solution-articles {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1rem;

	.solution-article {
		width: 20%;
		height: 18rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		opacity: 1;
		border-radius: 10px;
		padding: 1rem;

		.article-icon {
			font-size: 8rem;
			color: $color-first-acc;
		}
		.article-text {
			color: $color-first-acc;
			line-height: 1.5;
			font-size: 1.2rem;
			text-align: center;
		}
	}

	.article-arrow {
		font-size: 2rem;
		display: flex;
		align-items: center;
		border: 1px solid $color-first-acc;
		border-radius: 50%;
		color: #fad648;
		opacity: 0.5;
	}
	.article-arrow:last-child {
		display: none;
	}
}

.solution-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1rem 1rem;
	margin: 2rem;

	.grid-article {
		padding: 1rem;
		color: $color-main;
		border: 2px solid;
	}
	.grid-article_header {
		font-weight: 600;
		color: $color-third-acc;
	}

	.grid-article_paragraph {
		line-height: 1.5rem;
	}

	.article-1 {
		@include article-styles(1 / span 3, 1 / span 1, $color-fourth-acc);
	}

	.article-2 {
		@include article-styles(4 / span 1, 1 / span 3, $color-fourth-acc);
	}

	.article-3 {
		@include article-styles(1 / span 1, 2 / span 2, $color-fourth-acc);
	}
	.article-4 {
		@include article-styles(2 / span 2, 2 / span 2, rgb(0, 39, 107), rgba($color-fourth-acc, 0.25), $color-second-acc);
	}
}

.solution-features {
	padding: 0rem 4rem 4rem 4rem;
}
.solution-features_header {
	font-size: 1.5rem;
	color: $color-fourth-acc;
	margin-bottom: 2rem;
}
.solution-feature_list {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	align-items: flex-start;
	gap: 1rem;
}
.solution-list_item {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: $color-fourth-acc;
	opacity: 0.6;
	.solution-feature_icon {
		height: 2rem;
		width: 2rem;
		font-size: 2rem;
		color: $color-third-acc;
	}
	.solution-feature {
		line-height: 1.2;
	}
}

//Takeaways
.takeaways-wrapper {
	width: 100%;
	margin-top: 4rem;

	.takeaways-header {
		@include section-Subheader;
		z-index: 20;
	}
}

.takeaways-items_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;

	.takeaways-box {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 2rem;
		font-size: 1.2rem;
		overflow: hidden;

		&:hover {
			.takeaways-item_icon {
				transform: rotate(0);
				color: $color-first-acc;
				background-color: $color-second-acc;
			}
			.takeway-comment {
				visibility: visible;
			}
		}
	}
	.takeaways-item_icon {
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $color-main;
		border-radius: 50%;
		z-index: 10;
		font-size: 2rem;
		transform: rotate(-45deg);
		transition: transform 0.3s ease-in-out;
	}

	.takeway-item {
		width: 15%;
		// width: auto;
		font-weight: 500;
		z-index: 10;
	}

	.takeway-comment {
		width: 80%;
		line-height: 1.5;
		visibility: hidden;
		transition: visibility 0.3s ease-in-out;
		color: $color-main;
		opacity: 0.7;
	}
}
