@import '../../../../style/main.scss';

.experience-container,
.projects-container,
.techstack-container,
.goals-container {
	@include part-Container;
	flex-direction: column;
}
.experience-h,
.experience-related,
.projects-h,
.techstack-h,
.goals-h,
.goals-h2 {
	@include section-Subheader;
}
.experience-related {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.5rem;
	.related-icon {
		font-size: 1.5rem;
		margin-right: 1rem;
		color: $color-third-acc;
	}
}
.experience-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.work-box {
	width: 100%;
	display: flex;
	gap: 2rem;
	margin-bottom: 2rem;
	border: 1px solid $color-fourth-acc;
	border-radius: 25px;
	padding: 2rem;
}

.work-box_partOne {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-right: 1px solid $color-fourth-acc;

	.work-position {
		font-size: 1.2rem;
		font-weight: 700;
		border-left: 1px solid $color-fourth-acc;
		padding-left: 1rem;
	}
	.whenWhere-container {
		width: 100%;
		display: flex;
		gap: 1rem;
		font-size: 1rem;

		.work-where {
			color: $color-third-acc;
		}
		.work-when {
			color: $color-first-acc;
		}
	}
	.work-reference {
	}
}
.work-box_partTwo {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.work-description {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 0.5rem;

		.work-intro {
			font-size: 1.2rem;
			border-bottom: 1px solid $color-fourth-acc;
			padding-bottom: 0.05rem;
		}
		.work-description_li {
			width: 100%;
			display: grid;
			grid-template-columns: 16px 1fr;
			align-items: center;
			line-height: 1.5rem;
			text-align: start;
			gap: 1rem;
		}
		.work-description_icon {
			height: 1rem;
			width: 1rem;
			font-size: 2rem;
			// text-align: start;
			color: $color-third-acc;
		}
	}
}

//Projects
.projects-container {
	padding: 0rem -1rem;
	background: rgb(226, 226, 226);
	margin-bottom: 2rem;
}
.projects-h {
	color: $color-main;
}
.projects-p {
	font-size: 1.5rem;
}

//Tech Stack
.techstack-a_summary {
	font-size: 1.2rem;
	font-weight: 600;
}

.summary-front {
	&:hover {
		background: linear-gradient(128deg, rgb(69, 122, 247) 0%, #272343 100%);
	}
}
.summary-graphics {
	&:hover {
		background: linear-gradient(128deg, rgb(0, 193, 214) 0%, #272343 100%);
	}
}
.summary-back {
	&:hover {
		background: linear-gradient(128deg, rgb(255, 54, 50) 0%, #272343 100%);
	}
}
.summary-other {
	&:hover {
		background: linear-gradient(128deg, rgb(255, 255, 255) 0%, #272343 100%);
	}
}

.techstack-a_Details {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.techstack-box {
	// width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	border: 0.5px solid $color-second-acc;
	padding: 0.5rem;

	.tech-log {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		margin-right: 1rem;
	}
	.tech-technology {
		font-size: 1rem;
	}
}

//Goals
.goals-container {
	margin-bottom: 0rem;
}
.goals-h {
	display: inline;
}
.goals-h2 {
	font-size: 1.2rem;
	text-align: center;
}
.goals-boxes {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.goals-box {
	height: 10rem;
	width: 25%;
	border: 1px solid white;
	font-size: 1.5rem;
	border-radius: 15px;
	padding: 2rem;
	&:hover {
		box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
		background-color: $color-main;
		opacity: 1;
		transform: scale(1.015);
	}

	.goals-box_p {
		font-size: 1rem;
		line-height: 1.1rem;
	}

	.goals-box_timeline {
		font-size: 1rem;
		color: $color-third-acc;
		margin-top: 1rem;
	}
}

.goals-control {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	text-align: start;
}
