@import '../../../../style/main.scss';

.idea-wrapper {
	position: relative;
	margin-top: 4rem;
	height: auto;
}

.idea-text_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.idea-header {
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
		width: 80%;
	}
	.idea-p {
		width: 85%;
		font-size: 1rem;
		margin-bottom: 1rem;
		line-height: 1.5;
		z-index: 15;
	}
}

.idea-background {
	position: absolute;
	width: 15rem;
	height: 15rem;
	opacity: 50%;

	@include sm {
		width: 17.5rem;
		height: 25rem;
	}

	@include md {
		width: 20rem;
		height: 20rem;
	}

	@include lg {
		width: 40rem;
		height: 20rem;
	}
}

.first-give {
	border-radius: 15px 0 0 0;
	top: -5%;
	// right: 37%;
	z-index: 10;
	border-top: 2px solid #fad648;
	border-left: 2px solid #fad648;

	@include sm {
		top: -5%;
		right: 55%;
	}

	@include md {
		top: -10%;
		right: 62%;
	}

	@include lg {
		top: -5%;
		right: 38%;
	}

	@include xl {
		top: -5%;
		right: 40%;
	}
}

.second-give {
	border-radius: 0 0 15px 0;
	top: 75%;
	right: 3%;
	z-index: 10;
	border-right: 2px solid #fad648;
	border-bottom: 2px solid #fad648;

	@include sm {
		top: 25%;
	}
	@include md {
		top: 30%;
		right: 5%;
	}
	@include lg {
		top: 10%;
		right: 5%;
	}
	@include xl {
		top: 15%;
		right: 5%;
	}
}
