@import '../../../../style/main.scss';

.idea-wrapper {
	position: relative;
	margin-top: 4rem;
	height: auto;
}
.idea-text_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.idea-header {
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
		@include md {
			text-align: start;
		}
	}

	.idea-p {
		width: 85%;
		font-size: 1rem;
		margin-bottom: 1rem;
		line-height: 1.5;
		z-index: 15;
	}
}
.idea-background {
	position: absolute;
	width: 15rem;
	height: 40rem;
	opacity: 50%;

	@include sm {
		width: 17.5rem;
		height: 25rem;
	}
	@include md {
		width: 20rem;
		height: 10rem;
	}
	@include lg {
		width: 40rem;
		height: 20rem;
	}
}

.first-crm {
	border-radius: 15px 0 0 0;
	top: -5%;
	right: 20%;
	z-index: -10;
	border-top: 2px solid rgb(0, 39, 107);
	border-left: 2px solid rgb(0, 39, 107);

	@include sm {
		top: -5%;
		right: 50%;
	}
	@include md {
		top: -7%;
		right: 62%;
	}

	@include lg {
		top: -5%;
		right: 40%;
	}
}

.second-crm {
	border-radius: 0 0 15px 0;
	top: 20%;
	right: 5%;
	z-index: -5;
	border-right: 2px solid rgb(0, 39, 107);
	border-bottom: 2px solid rgb(0, 39, 107);
	
	@include sm {
		top: 10%;
		right: 5%;
	}
	@include md {
		top: 50%;
		right: 5%;
	}
	@include lg {
		top: 15%;
		right: 5%;
	}
}
