@import '../../../../style/main.scss';

.what-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	flex-direction: column-reverse;
	@include md {
		flex-direction: row;
	}
}

.what-container_first {
	width: 100%;
	z-index: 5;

	@include md {
		width: 50%;
	}

	.what-image_temporary {
		width: 100%;
		height: 100%;
		@include lg {
			height: 80%;
		}
	}
}

.what-container_second {
	width: 100%;

	@include md {
		width: 50%;
	}
	.second-header {
		@include section-Subheader;
		font-size: 4rem;
		margin: 0rem;
		@include md {
			margin: 1rem;
		}
	}
	.second-summary {
		width: 100%;
		font-size: 1.2rem;
		line-height: 1.5;
		@include md {
			flex-direction: row;
			margin-bottom: 2rem;
		}
	}
	.second-note {
		text-decoration: underline;
		line-height: 1.2;
		color: rgb(115, 115, 115);
	}

	.second-link {
		width: 15rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		color: $color-second-acc;
		font-weight: 300;
		&:hover {
			font-weight: 600;
			box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
			border-radius: 15px;
		}
	}
	.link-icon {
		font-size: 2rem;
		margin: 1rem;
		color: $color-second-acc;
	}
}
.second-techstack_box {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 0rem 1rem;
	margin: 0rem;

	@include md {
		width: 80%;
		height: 2rem;
		justify-content: space-between;
		gap: 0rem 0rem;
		margin: 1rem;
	}
}

//Slider
.number-slide {
	background: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	color: #fff;
	font-weight: 500;
	height: 300px;
	max-height: 100vh;
}

.thumbnail .keen-slider__slide {
	font-size: 30px;
	margin-top: 10px;
	height: 100px;
}

.thumbnail .keen-slider__slide {
	cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
	border: 2px dashed black;
}
