@import '../../../style/main.scss';

.headerContainer {
	background: $color-gradient-one;
	max-width: screen;
	height: 100vh;
	margin: auto;
	padding: 2rem;
	font-family: $font-base;
	opacity: 0.9;
	z-index: 0;
}

.headerIntro {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 3rem;

	.introTitle {
		font-size: 3rem;
		color: $color-first-acc;
		.introName {
			color: $color-third-acc;
		}
	}
	.headerProfession {
		color: $color-fourth-acc;
		font-size: 2rem;
	}
	.professionInvitation {
		background: none;
		color: $color-first-acc;
		border: none;
		font-size: 1.2rem;
		cursor: pointer;
		font-weight: 600;
		&:hover {
			transition: border-bottom ease-in-out;
			color: $color-third-acc;
		}
	}
}

.headerLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	.headerLink {
		font-size: 2rem;
		color: $color-first-acc;
		&:hover {
			color: $color-third-acc;
		}
	}
}
