@import '../../../style/main.scss';



.header-container {
	background: $color-main;
	max-width: screen;
	height: 100vh;
	margin: auto;
	padding: 2rem;
	font-family: $font-base;
	opacity: 0.5;
	z-index: 0;
}
.header-intro {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 3rem;

	.intro-title {
		font-size: 3rem;
		color: $color-first-acc;
		.intro-name {
			color: $color-third-acc;
		}
	}
	.header-profession {
		color: $color-fourth-acc;
		font-size: 2rem;
	}
	.profession-invitation {
		background: none;
		color: $color-first-acc;
		border: none;
		font-size: 1.2rem;
		cursor: pointer;

		&:hover {
			transition: border-bottom ease-in-out;
			color: $color-third-acc;
		}
	}
}
