@import '../../../style/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;1,700&family=Space+Mono:wght@400;700&display=swap');

body {
	// background-image: radial-gradient(
	// 	circle farthest-corner at 22.4% 21.7%,
	// 	rgba(4, 189, 228, 1) 0%,
	// 	rgba(2, 83, 185, 1) 100.2%
	// );
	background: linear-gradient(
		to right,
		#9cecfb,
		#65c7f7,
		#0052d4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: cover;
	z-index: -100;
}

.container {
	background: #01080f;
	max-width: screen;
	height: 100vh;
	margin: auto;
	padding: 2rem;
	font-family: 'Roboto Mono', monospace;
}
.intro {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.title {
		font-size: 3rem;
		color: white;
		.blue {
			color: rgb(52, 52, 223);
		}
	}
	.profession {
		color: white;
		font-size: 2rem;
	}
	.invitation {
		background: none;
		color: white;
		border: none;
		font-size: 1rem;
		cursor: pointer;

		&:hover {
			transition: border-bottom ease-in-out;
			border-bottom: 1px solid black;
			color: burlywood;
		}
	}
}
.move-up {
	transition: top 0.5s ease;
	height: 20vh;
}
.container-wrap {
	display: flex;
	justify-content: center;
}

.container-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	.mySignature {
		height: auto;
		width: 7rem;
	}
}

.container-right {
	width: 100%;
	.menu {
		padding: 1rem;
		width: 100%;
	}
	.menu-parts {
		color: aliceblue;
		display: flex;
		justify-content: flex-end;
		width: 45%;
		gap: 1rem;
		margin: 2rem 1rem;
		margin-left: 10rem;
		text-decoration: none;

		.text {
			font-size: 2rem;
			&:hover {
				color: rgb(52, 52, 223);
			}
		}
		.dot {
			height: 40px;
			width: 40px;
			border: 3px solid #bbb;
			border-radius: 50%;
			display: inline-block;
			margin-left: 1rem;
			&:hover {
				background-color: rgb(52, 52, 223);
			}
		}
	}
}
