@import '../../../style/main.scss';

.container-contact {
	background: #01080f;
	max-width: 900px;
	height: auto;
	margin: auto;
	padding: 2rem;
	font-family: $font-base;
}

.container-contact_form {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-alt;
	.line {
		color: white;
		height: 15rem;
		border-right: 2px solid;
		margin: auto 1.5rem;
	}
}
.contact-animation {
	// visibility: hidden;
	width: 100%;
}
.form {
	display: flex;
	flex-direction: column;
	width: 100%;

	.input,
	.textarea {
		height: 3rem;
		margin: 0.5rem;
		padding: 0.5rem;
		border: 1px solid black;
		border-radius: 5px;
		font-family: $font-alt;
		font-size: 1rem;
		&:hover {
			background-color: #e5ebf7;
		}
		&:focus {
			background-color: #e5ebf7;
		}
	}
	.textarea {
		height: 15rem;
	}
}
