@import '../../../style/main.scss';
@import '../HomeGeneral.module.scss';

.container-contact_form {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-family: $font-alt;

	.line {
		color: $color-third-acc;
		height: 15rem;
		border-right: 2px solid;
		margin: auto 1.5rem;
	}
}
.contact_form_small_cont {
	width: 100%;

	.contact_form_title {
		color: $color-first-acc;
		font-size: 2rem;
		margin-bottom: 3rem;
		.contact_form_title_span {
			color: $color-fourth-acc;
		}
	}
	.contact_form_img {
		border-radius: 5px;
		width: 100%;
		height: auto;
	}
}
.form {
	display: flex;
	flex-direction: column;
	width: 100%;

	.input,
	.textarea {
		height: 3rem;
		margin: 0.5rem;
		margin-left: 0;
		padding: 0.5rem;
		border: 1px solid $color-second-acc;
		border-radius: 5px;
		font-family: $font-alt;
		font-size: 1rem;
		&:hover {
			background-color: $color-first-acc;
		}
		&:focus {
			background-color: $color-first-acc;
		}
	}
	.textarea {
		height: 15rem;
	}
	.submit {
		width: auto;
		padding: 0.5rem 1rem;
		margin-top: 0.5rem;
		margin-right: 0.5rem;
		border: 1px solid $color-main;
		border-radius: 5px;
		font-family: $font-alt;
		&:hover {
			border: 1px solid $color-third-acc;
			background-color: $color-third-acc;
		}
	}
	.form-error {
		color: $color-third-acc;
		text-transform: uppercase;
		margin-left: 1rem;
	}
}

.form-message_sent {
	position: absolute;
	width: 15rem;
	padding: 1.5rem;
	// visibility: visible;
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
	margin: 2rem;
	margin-left: 4rem;
	background-color: $color-third-acc;
	color: $color-main;
	left: 0;
	.form-message_sent_span {
		color: $color-fourth-acc;
	}
}

.invisible {
	transition: opacity 3s ease-in-out;
	opacity: 0;
	// visibility: hidden;
}
