@import '../../../style/main.scss';

.container-contact {
	background: $color-main;
	max-width: 900px;
	height: auto;
	margin: auto;
	padding: 2rem;
	font-family: $font-base;
}

.container-contact_form {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-alt;
	.line {
		color: $color-third-acc;
		height: 15rem;
		border-right: 2px solid;
		margin: auto 1.5rem;
	}
}
.contact-animation {
	// visibility: hidden;
	width: 100%;
}
.form {
	display: flex;
	flex-direction: column;
	width: 100%;

	.input,
	.textarea {
		height: 3rem;
		margin: 0.5rem;
		padding: 0.5rem;
		border: 1px solid $color-second-acc;
		border-radius: 5px;
		font-family: $font-alt;
		font-size: 1rem;
		&:hover {
			background-color: $color-first-acc;
		}
		&:focus {
			background-color: $color-first-acc;
		}
	}
	.textarea {
		height: 15rem;
	}
	.submit {
		width: auto;
		padding: 0.5rem 1rem;
		margin: 0.5rem;
		border: 1px solid $color-main;
		border-radius: 5px;
		font-family: $font-alt;
		&:hover {
			border: 1px solid $color-third-acc;
			background-color: $color-third-acc;
		}
	}
	.form-error {
		color: $color-third-acc;
		text-transform: uppercase;
		margin-left: 1rem;
	}
}

.form-message_sent {
	position: absolute;
	width: 15rem;
	padding: 1.5rem;
	margin: 2rem;
	margin-left: 4rem;
	background-color: $color-third-acc;
	color: $color-main;
	left: 0;
	.form-message_sent_span {
		color: $color-fourth-acc;
	}
}
