@import '../../../style/main.scss';

.container-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: hsl(248, 31%, 20%, 0.9);
	max-width: screen;
	height: 15vh;
	padding: 2rem;
	gap: 1rem;
	font-family: $font-base;
}
.icon-container {
	height: auto;
	width: 5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;

	.line {
		color: $color-fourth-acc;
		height: 3rem;
		border-right: 2px solid;
	}
	.arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		text-align: center;
		color: $color-fourth-acc;
		width: 3rem;
		height: 1rem;
		background: none;
		border: transparent;
		cursor: pointer;
		&:hover {
			transition: border-bottom ease-in-out;
			color: $color-third-acc;
		}
	}
}
.copyright {
	color: $color-fourth-acc;
	font-size: 0.7rem;
}
