@import '../../style/main.scss';

.container-nav {
	background: $color-fourth-acc;
	max-width: screen;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	gap: 5%;
	margin: auto;
	padding: 0.5rem;
	font-family: $font-base;
	z-index: 10;

	@include lg {
		gap: 15%;
	}
}

.logo {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-second-acc;

	.my-logo {
		height: 4rem;
		width: auto;
		margin-top: -0.5rem;
		@include md {
			margin-left: 2rem;
		}
	}

	.center {
		margin-left: 0rem;
	}
}

.adjustments,
.adjustments-mobile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	visibility: hidden;

	@include md {
		visibility: visible;
	}
	@include xl {
		flex-direction: row;
		gap: 1.5rem;
	}

	.mode {
		display: flex;
		justify-content: center;
		align-items: center;

		.mode-icon {
			color: $color-second-acc;
			height: 1.5rem;
			width: 1.5rem;

			&:hover {
				color: $color-third-acc;
			}
		}
	}

	.languages {
		height: auto;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-second-acc;

		.line {
			height: 1.5rem;
			border-right: 2px solid;
		}

		.language {
			width: 3rem;
			height: 1rem;
			background: none;
			border: transparent;
			font-family: $font-alt;

			&:active {
				scale: 1.1;
			}
		}
	}
}
.adjustments-mobile {
	visibility: visible;
}

.reverse {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 75vw;
	cursor: pointer;
	visibility: hidden;

	@include md {
		visibility: visible;
		gap: 1rem;
		margin-left: 5rem;
		width: 35vw;
	}
	@include lg {
		margin-left: 0rem;
		width: 65vw;
	}

	.link {
		text-decoration: none;
		color: $color-second-acc;
		font-size: 1.2rem;
		border-bottom: 1px solid transparent;
		transition: border-bottom 0.5s ease-in-out;

		&:hover {
			border-bottom: 1px solid $color-main;
		}
	}
}

.links-container_mobile {
	height: 30rem;
	flex-direction: column;
	gap: 2rem;
}

.links-mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.5rem;
	cursor: pointer;
	.link-mobile {
		text-decoration: none;
		color: $color-second-acc;
		font-size: 1.2rem;
		border-bottom: 1px solid transparent;
		transition: border-bottom 0.5s ease-in-out;

		&:hover {
			border-bottom: 1px solid $color-main;
		}
	}
}

.shadow {
	width: screen;
	height: screen;
	position: fixed;
	left: 0;
	top: 0;
	background-color: $color-second-acc;
	opacity: 30%;
	z-index: 0;
}

.container-nav_mobile {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: $color-fourth-acc;
	padding: 2rem;
	transition: right 1s ease-in-out;
	z-index: 1;

	@include md {
		width: 25vw;
	}
}

.hidden {
	position: fixed;
	right: -100%;
	top: 0;
	padding: 2rem;
	transition: right 1s ease-in-out, opacity 1s ease-in-out;
}

.mobile-button_cont {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.mobile-button,
.mobile-button_sidebar {
	height: 3rem;
	width: 3rem;
	background: $color-fourth-acc;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 0px solid $color-fourth-acc;
	font-size: 2rem;
	padding: 0.5rem;
	margin-right: 10%;
	margin-bottom: 10%;
	text-align: center;
	cursor: pointer;
	z-index: 10;
	box-shadow: $color-main 0px 0px 10px;

	&:hover {
		background: $color-fourth-acc;
		box-shadow: rgba($color-main, 0.25) 0px 30px 60px -12px inset, rgba($color-main, 0.3) 0px 18px 36px -18px inset;
	}

	.icon-ss {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.mobile-button_sidebar {
	position: static;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-top: 1rem;
}

.on {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8.25%;
}

.off {
	position: fixed;
	top: 0;
	right: -100%;
	margin-right: 5%;
	margin-top: 5%;
}
