@import '../../style/main.scss';

.container-about {
	background: #01080f;
	max-width: 900px;
	height: auto;
	margin: auto;
	padding: 2rem;
	font-family: $font-base;
}
.logo-about {
	.rectangle {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
		border-radius: 10px;
		width: 7.5rem;
		height: 3rem;

		background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(1, 8, 15, 1) 26%, burlywood 100%);
		&:hover {
			background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(1, 8, 15, 1) 26%, rgba(49, 62, 247) 100%);
		}

		.about {
			color: aliceblue;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.article {
	margin-top: 2rem;
	display: flex;
	border: 2px solid rgb(138, 138, 138);
	border-radius: 20px;
	width: 100%;
	height: auto;
	font-family: $font-alt;
	box-shadow: rgba(255, 255, 255, 0.879) 0px 4px 8px -2px, rgb(255, 255, 255) 0px 0px 0px 1px;
}
.article-image {
	height: 15rem;
	width: auto;
	width: 50%;
}
.second {
	height: 17rem;
}
.third {
	height: 15rem;
	padding: 1.5rem;
}
.article-text {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	color: white;
	padding: 1.5rem;
	.article-title {
		font-size: 1.5rem;
	}
	.article-paragraph {
		text-align: justify;
	}
}

.reverse {
	flex-direction: row-reverse;
}
