@import '../../style/main.scss';

.container-contact {
	background: #01080f;
	max-width: 900px;
	height: auto;
	margin: auto;
	padding: 2rem;
}
.rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	width: 7.5rem;
	height: 3rem;
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(1, 8, 15, 1) 26%, burlywood 100%);
	&:hover {
		background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(1, 8, 15, 1) 26%, rgba(0, 212, 255, 1) 100%);
	}

	.contact {
		color: aliceblue;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.container-contact_form {
	display: flex;
	justify-content: center;
	align-items: center;
	.line {
		color: white;
		height: 15rem;
		border-right: 2px solid;
		margin: auto 1.5rem;
	}
}
.contact-animation {
	// visibility: hidden;
	width: 100%;
}
.form {
	display: flex;
	flex-direction: column;
	width: 100%;

	.input,
	.textarea {
		height: 3rem;
		margin: 0.5rem;
		padding: 0.5rem;
		border: 1px solid black;
		border-radius: 5px;
		&:hover {
			background-color: rgb(151, 158, 252);
			color: aliceblue;
		}
		&:focus {
			background-color: rgb(125, 134, 250);
			color: aliceblue;
		}
	}
	.textarea {
		height: 15rem;
	}
}
