@import '../../style/main.scss';

.container-skills {
	background: #01080f;
	max-width: 900px;
	height: auto;
	margin: auto;
	padding: 2rem;
	font-family: $font-base;
}
.skills-kind_title {
	color: aliceblue;
	font-size: 2rem;
	margin: 4rem 0rem;
}
.soft-skill_set {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	.circle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
		height: 5rem;
		border: 1px dashed whitesmoke;
		border-radius: 50%;
		.icon_ss {
			color: white;
			font-size: 3rem;
		}
		&:hover {
			color: black;
			background-color: white;
			.icon_ss {
				color: black;
			}
			transform: scale(1.2);
			transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
		}
		transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
	}
}
.soft-skill_paragraph {
	color: whitesmoke;
	margin: 1rem 6rem;
}

.skills {
	color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.skillIcon {
	height: 3rem;
	width: auto;
}

.subcontainer {
	margin-top: 1rem;
	.subcontainer-title {
		color: whitesmoke;
		margin: 2rem 0rem;
	}
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border: 1px solid gainsboro;
	padding: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px,
		rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
		rgba(0, 0, 0, 0.09) 0px 32px 16px;
	.icon {
		width: 7rem;
		text-align: center;
	}
	.skillIcon {
		height: 4rem;
		width: auto;
	}
	.skillName {
		color: whitesmoke;
		text-align: center;
		margin-top: 1rem;
	}
}
