@import '../style/reset.scss';
@import '../style/mixins.scss';
@import '../style/variables.scss';

.section-rectangle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	width: 100%;
	height: 3.5rem;
	$font-alt: 'Dosis', sans-serif;
	font-size: 2.5rem;
	// background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(1, 8, 15, 1) 26%, burlywood 100%);
}
.section-title {
	color: $color-second-acc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background: $color-main;
	max-width: 900px;
	height: auto;
	margin: auto;
	padding: 2rem;
	font-family: $font-base;
}
