@import '../style/reset.scss';
@import '../style/mixins.scss';
@import '../style/variables.scss';

.section-rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	width: 20rem;
	height: 3rem;
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(1, 8, 15, 1) 26%, burlywood 100%);
	&:hover {
		background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(1, 8, 15, 1) 26%, rgba(49, 62, 247) 100%);
	}
}
.section-title {
	color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
