@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Roboto+Mono:ital,wght@0,100;0,300;1,700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');

// font-family: 'Avenir', sans-serif;

$font-base: 'Avenir', sans-serif;
$font-alt: 'Avenir', sans-serif;
$color-main: #272343;
$color-first-acc: #bae8e8;
$color-second-acc: #393e46;
$color-third-acc: #ffd369;
$color-fourth-acc: #ffff;
$color-gradient-one: linear-gradient(#bae8e8 0%, #272343 90%);
