@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Roboto+Mono:ital,wght@0,100;0,300;1,700&family=Space+Mono:wght@400;700&display=swap');

$font-base: 'Roboto Mono', monospace;
$font-alt: 'Dosis', sans-serif;
$color-main: #01080f;
$color-main-alt: #bdcad6;
$color-main-acc: rgb(52, 52, 223);
$color-acc: burlywood;
