@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Roboto+Mono:ital,wght@0,100;0,300;1,700&family=Space+Mono:wght@400;700&display=swap');

$font-base: 'Roboto Mono', monospace;
$font-alt: 'Dosis', sans-serif;
$color-main: #272343;
$color-first-acc: #bae8e8;
// $color-second-acc: rgb(52, 52, 223);
$color-second-acc: #393e46;
$color-third-acc: #ffd369;
$color-fourth-acc: #ffff;
