@import '../style/main.scss';

.container-nav {
	background: #ffffff;
	max-width: 1240px;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 0.5rem;
}

.mySignature {
	height: 5rem;
	width: 5.5rem;
	margin-left: 2rem;
	margin-top: -0.5rem;
}
.adjustments {
	display: flex;
	justify-content: center;
	align-items: center;
	.mode {
		display: flex;
		justify-content: center;
		align-items: center;
		.mode-icon {
			height: 2rem;
			width: 2rem;
			&:hover {
				color: burlywood;
			}
		}
	}
	.languages {
		height: auto;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.line {
			height: 1.5rem;
			border-right: 2px solid;
		}
		.language {
			width: 3rem;
			height: 1rem;
			background: none;
			border: transparent;
		}
	}
}

.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 35vw;
	.link {
		text-decoration: none;
		color: rgb(52, 52, 223);
		border-bottom: 0.1px transparent;
		transition: border-bottom 0.5s ease-in-out;
		&:hover {
			border-bottom: 1px solid black;
			border-bottom-width: 1px;
		}
	}
}
